html {
  font-size: 100%;
  /* 16px;*/
}

body {
  line-height: 1.3em;
  font-family: Consolas, Courier, 'Courier New', monospace;
  color: #fff;
  background-color: #000;
}

textarea {
  min-width: 460px;
  min-height: 111px;
  color: inherit;
  background-color: inherit;
}

button {
  padding: 8px 27px;
  margin-bottom: 10px;
}

.white {
  color: #fff;
}

.green {
  color: #00BF00;
}

.purple {
  color: #BF00BF;
}

.lightpurple {
  color: #ae00ff;
}

.blue {
  color: #00BFBF;
}

.yellow {
  color: #BFBF00;
}

.red {
  color: #BF0000;
}

.gray {
  color: #3a3a3a;
}

.bg-green {
  background-color: #00dda6;
}

.bg-red {
  background-color: #c73232;
}

.padding-sides {
  padding-left: 8px;
  padding-right: 8px;
}
