<h1>{{title}}</h1>
<button id="trashButton"><i class="fa fa-trash"></i> Tøm textarea</button>
<br>
<textarea name="inputText" id="inputField"></textarea>
<div id="outputField"></div>
<!--
__________________________________________________ <br>
Eksempel input/output:
<div id="inputExampleField">
  {{osName}}@PC MINGW64 /c/ (master)
</div>
<div id="outputExampleField"></div>
-->